README.txt
.DS_Store
node_modules/

#API responses
model/data/

#Homepage Video - too large for github
view/assets/travel-video-2.mp4
view/assets/travel-video.mp4
view/assets/travel-video-3.mp4

#API Keys
.env

#Bing API cookies
cookies.json

#VSCode ports
.vscode/settings.json
