README.txt
gameplan.txt
names.txt
.DS_Store

#Homepage Video - too large for github
frontend/assets/travel-video-2.mp4
frontend/assets/travel-video.mp4

#API Keys
.env

#Bing API cookies
cookies.json

#VSCode ports
.vscode/settings.json
