.header-info-par {
    text-align: center;
    padding-bottom: 20px;
    position: absolute;
    top: 35%;
    width: 100%;
}

.typewrite {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    display: inline;
}