<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <title>Travel Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="css/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="container">
            <div class="menu-par">
                <div class="logo-par">
                    <a href="index.html">
                        <h2>Wander</h2>
                    </a>
                </div>
                <div class="nav">
                    <ul>
                        <li><a class="menu-hover" href="index.html">Login</a></li>
                        <li><a class="menu-hover" href="index.html">Travel</a></li>
                        <li><a class="menu-hover" href="index.html">Book Now</a></li>
                        <li><a class="menu-hover" href="index.html">Penis</a></li>
                        <li><a class="menu-hover" href="index.html">Blog</a></li>
                    </ul>
                </div>
                <div id="toggle-btn">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="header-info-par">
                <h1 class="typewrite" data-period="2000"
                    data-type='["For the Modern Day Explorer","Adventure Awaits, go find it.","Dont be a tourist, be a traveler."]'>
                </h1>
             
            </div>
            <div class="video">
                <video id="video" autoplay loop muted>
                    <source src="assets/travel-video.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </header>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/extrenaljq.js"></script>
</body>

</html>