<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <title>Travel Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="menu-par">
                <div class="logo-par">
                    <a href="index.html">
                        <h2>Wander</h2>
                    </a>
                </div>
                <div class="nav">
                    <ul>
                        <li><a class="menu-hover" href="index.html">Login</a></li>
                        <li><a class="menu-hover" href="index.html">Explore</a></li>
                        <li><a class="menu-hover" href="index.html">How It Works</a></li>
                        <li><a class="menu-hover" href="index.html">Privacy</a></li>
                        <li><a class="menu-hover" href="index.html">About</a></li>

                    </ul>
                </div>
                <div id="toggle-btn">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
    </nav>

    <!--  Typewriter Text  -->

    <header>
        <div class="container">
            <div class="header-info-par">
                <h1 class="typewrite" data-period="2000"
                    data-type='["Wander the world.", "For the Modern Day Explorer","Adventure Awaits, go find it."]'>
                </h1>
             
            </div>
            <div class="video">
                <video id="video" autoplay loop muted>
                    <source src="assets/travel-video-3.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </header>

    <!--  Search Container  -->

    <div class="search-container">
        <div class="search-box">
          <input type="text" placeholder="  Enter Origin City" id="search-box">
          <i class="fa fa-search"></i>
        </div>
      </div>
    <script>
        const searchBox = document.getElementById('search-box');
        searchBox.addEventListener('keypress', function(event) {
          if (event.keyCode === 13) {
            window.location.href = "./jotform/Wander.html";
          }
          
        });
    </script>
      
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/extrenaljq.js"></script>
</body>

</html>